{% extends "pages/layout.html" %}

{% block top-content %}
<div container >
    <h1 class="room_header aboutus_h1" style="color:rgb(222, 219, 219)" > We believe that every home should be a haven! </h1>
    <h2 class="aboutus_h2" style="color:rgb(222, 219, 219)">Here at GTL, our mission is to make interior design as easy as possible.  Simply choose a room design with your desired vibe, and shop from a curated selection of items to transform your space.</h2>
</div>




<div class="container-fluid cards_index">
    <div class="card" style="width: 550px;">
        <img class="card-img-top" src="static/images/cover_bedroom.webp" alt="Card image cap">
        <div class="card-body">
            <h3 class="card_header">Bedroom</h3>
            <a class="card-text" href="bedroom/">Create your own neutral escape. Think live edge wood, crisp linen, natural textures, and fresh white flowers.</a>
        </div>
    </div>
    
    <div class="card" style="width: 550px;">
        <img class="card-img-top" src="static/images/cover_kitchen.jpeg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card_header">Kitchen</h3>
            <a class="card-text" href="kitchen/">Make your kitchen a mood in itself. The functional simplicity of walnut butcher block meets naval blue cabinets and brass finishes.</a>
        </div>
    </div>

    <div class="card" style="width: 550px;">
        <img class="card-img-top" src="static/images/cover_bathroom.jpeg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card_header">Bathroom</h3>
            <a class="card-text" href="bathroom/">Bathe in paradise. Think natural simplicity meets art deco.</a>
        </div>
    </div>

    <div class="card" style="width: 550px;">
        <img class="card-img-top" src="static/images/cover_living.jpeg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card_header">Kitchen</h3>
            <a class="card-text" href="living/">Create your own mood lounge at home. Blue velvet meets Chocolate leather, wood, and brass accents to create your own haven of chic sophistication.</a>
        </div>
    </div>
</div>

{% endblock %}