{% extends "pages/layout.html" %}

{% block top-content %}
<div>
    <h1 class="room_header" style="color:rgb(222, 219, 219)" > Kitchen </h1>
    <div class="container-fluid products">
        {% if product_list %}
            {% for product in product_list %}
                {% if product.room == 'kitchen' %}
                    <div class="card card_category">
                        <!-- <p><a href="http://127.0.0.1:8000/bedroom/">{{product.name}}</a></p> -->
                        <img class="category_pic" style="width: 100%" src="{{product.image}}" alt="{{product.name}}">
                        <div class="card-body">
                            <h3 class="card_header" style="color:black">{{product.name}}    $ {{product.price}}</h3>
                            <a class="card-text" href="http://127.0.0.1:8000/kitchen/">Make your kitchen a mood in itself. The functional simplicity of walnut butcher block meets naval blue cabinets and brass finishes.</a>
                        </div>
                        <button type="button" class="btn btn-light btn_addtocart">Add to Cart</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No products are available.</p>
        {% endif %}
    </div>
</div>      
{% endblock %}