{% extends "pages/layout.html" %}

{% block scripts %}
<script src="/static/js/mains.js" defer></script>
{% endblock %}

{% block top-content %}

{% endblock %}

{% block bottom-content %}
<marquee class="marquee_index">Don't miss the Independence Day Blowout Sale! Everything an additional 7.4% Off!</marquee>

<h1 class="header_search" style="color:rgb(222, 219, 219)">Search for the Look!</h1>

<div>
    <form id="search-form">
        <input autofocus value="" id="product" placeholder="What are you looking for?">
        <button type="submit" method="POST">SUBMIT</button>
        <p style=" color: white" >{{form.product.value}}</p>
    </form>
</div>
<div>
    <h1 class="room_header" style="color:rgb(222, 219, 219)" > Search Results </h1>
    <div class="container-sm product">
        {% if product_list %}
            {% for product in product_list %}
                {% if 'blue' in product.tags %}
                    <div class="card search_card">
                        <h2 style="color: black"><a href="http://127.0.0.1:8000/{{product.room}}/">{{product.name}}     $ {{product.price}}</a></h2>
                        <img class="category_pic" src="{{product.image}}" alt="{{product.name}}">
                        <div class="search_card_body">
                            <h3 class="card_header">{{product.name}}</h3>
                            <a class="card-text" href="http://127.0.0.1:8000/bedroom/">Sample Text</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        <!-- {% else %}
            <p>No products are available.</p> -->
        {% endif %}
    </div>
</div>      

{% endblock %}