{% extends "pages/layout.html" %}

{% block scripts %}
<script src="/static/js/mains.js" defer></script>
{% endblock %}

{% block top-content %}

{% endblock %}

{% block bottom-content %}
<marquee class="marquee_index">Don't miss the Independence Day Blowout Sale! Everything an additional 7.4% Off!</marquee>

<h1 class="header_search">Search for the Look!</h1>


<form id="search-form">
    <label for="product">What are you looking for?</label>
    <input value="phone" autofocus id="product">
    <button type="submit">SUBMIT</button>
</form>
{% endblock %}